<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Title</title>
    <link href="/assets/css/main.min.css" rel="stylesheet"/>
    <script src="/assets/js/main.min.js"></script>
    <script src="/assets/js/ko.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bPopup/0.11.0/jquery.bpopup.min.js"></script>
    <!-- bootstrap css and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>

        var calendar;
        var popup;

        {/* FullCalendar 함수 */}
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            popup = document.querySelector('dialog');
            calendar = new FullCalendar.Calendar(calendarEl, { // calendarEl은 옵션에 해당함.
                locale: "ko",   // 기본 달력은 영어로 되어있기때문에 한국어로 변경
                initialView: 'dayGridMonth',    // 초기 화면은 월 달력이 보여줄것임.
                selectable: true, // 날짜를 클릭할 수 있게 허용함.
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek, timeGridDay,listMonth'
                },
                googleCalendarApiKey: 'AIzaSyA-R2RGGEyrPVe_eDOxxB_uwBuZQjeFRN4',
                // events: [{ googleCalendarId: 'f8816f42d1115b10c1f04558d7a4b23acb24a95bbfaab159880293699e42bf2f@group.calendar.google.com', className: 'gcal-event' },
                //     { id: "2024-04-10", start: "2024-04-10", title: "미국 바이어 내방 미팅" },
                //     { id: "2024-04-11", start: "2024-04-11", title: "최승욱 대리 승진 파티" },
                //     { id: "2024-04-15", start: "2024-04-15", title: "1분기 리포트 마감일" }
                // ],

                events:
                    {
                        googleCalendarId: 'f8816f42d1115b10c1f04558d7a4b23acb24a95bbfaab159880293699e42bf2f@group.calendar.google.com',
                        className: 'gcal-event'
                    },
                dateClick: function(info) {
                  console.log("Clicked event occurs : date = " + info.dateStr);

                  popup.querySelector('div').innerHTML = `
                    <h3>${info.dateStr}</h3>  <!--일정 제목 불러오는 것으로 변경필요함-->
                  `;
                  popup.setAttribute('open','open'); // dialog에 open 속성이 있어야 팝업처럼 표현되기때문에 이벤트를 걸어줌.

                  addEventToCalendar({ start: info.dateStr });   // 선택한 날짜에 새로운 일정 추가 함수

                  // removeEventFromCalendar(info.dateStr);
                  // 26줄에 하드코딩으로 event의 아이디를 실제 날짜와 동일하게 주었기때문에,
                  // 날짜를 선택하면 그 아이디를 removeEventFromCalendar의 인자로 받아서
                  // function안에 있는 remove 메소드를 실행함.
                },

                eventClick: function(info) {    // 클릭시 구글 캘린더 일정 상세조회
                    let start_year = info.event.start.getUTCFullYear(); //일정의 정보가 info.event라는 객체안에 담아줌.
                    let start_month = info.event.start.getMonth() + 1;  // 0부터 시작해서 0, 1, 2 식으로 가기때문에 +1 해줌.
                    let start_date = info.event.start.getUTCDate();
                    let start_hour = info.event.start.getHours();
                    let start_minute = info.event.start.getMinutes();
                    let start_second = info.event.start.getSeconds();
                    let end_hour = info.event.end.getHours();



                    let start = start_year + "년 " + start_month + "월 " + start_date + "일 " + start_hour + "시 ~" + end_hour + "시";

                    let attends = "";
                    info.event.extendedProps.attachments.forEach(function(item) {   // extendedProps 구글 캘린더 즉 외부에서 첨부파일들을 가져옴.
                        attends += "<div><a href='"+item.fileUrl+"' target='_blank'>[첨부파일]</a></div>" // 첨부파일의 하이퍼링크를 누르면 _blank 즉 새창으로 열리게됨.
                    });

                    if(!info.event.extendedProps.description) { // 일정 설명란이 공란일 경우를 대비해서 엔티티 설계에 따라 다르겠지만, not null 설정할 경우 오류나는 것을 대비하기 위함.
                        info.event.extendedProps.description = " ";
                    }

                    let contents = `
                    <div style='font-weight: bold; font-size: 20px; margin-bottom: 30px; text-align: center'>
                        ${start}
                    </div>
                    <div style='font-size: 18px; margin-bottom: 20px'>
                        제목: ${info.event.title}
                    </div>
                    <div style='width: 500px'>
                        ${info.event.extendedProps.description}
                        ${attends}
                    </div>
                    `;  // JSX의 표현식 즉 데이터바인딩을 사용하여 표현함. + 문자열 내에서 함수를 사용하기위해 백틱 사용함.

                    $("#popup").html(contents);
                    $("#popup").bPopup();   // jQuery를 활용하여 팝업창 띄움. 팝업 플러그인을 작동시킴.
                    info.jsEvent.stopPropagation();
                    info.jsEvent.preventDefault();  // 기본적으로 fullcalendar에서 일정 클릭시 구글캘린더 새창이 뜸. 그것을 막기위한 함수.
                }
            });
            calendar.render();
        });

        function handleDateClick(info) {
            console.log("Clicked event occurs : date = " + info.dateStr);

            popup.querySelector('div').innerHTML = `
            <h3>${info.dateStr}</h3>
        `;
            popup.setAttribute('open', 'open');
        }

        function handleCloseClick() {
            popup.removeAttribute('open');
        }

        function addEventToCalendar(event) {
            calendar.addEvent(event);
        }

        function removeEventFromCalendar(id) {
            var calendarEvent = calendar.getEventById(id);
            calendarEvent.remove();
        }
    </script>
    <style>
        dialog{
            position: fixed; /* 스크롤해도 움직이지 않게 함 */
            width: 300px;
            margin: 0; /* 태생적으로 가지고있는 마진 없애기 위해 0 */
            z-index: 100; /* 레이아웃을 최상위로 함 */
            padding: 30px;
            background: #FFFFFF;
            left: 50%;
            right: 50%;
            transform: translate(-50%,-50%);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
            border: none;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div id='calendar'></div>
    <dialog>
        <div>일정 제목</div>
        <button onclick="handleCloseClick()">닫기</button> <!-- 닫기 버튼의 이벤트 핸들러 추가 -->
    </dialog>
<!--    <div id="todo_container">-->
<!--        <p id="cur_date">일정</p>-->
<!--        <form id="todoform">-->
<!--            <input type="text" placeholder="일정을 등록해주세요."/>-->
<!--        </form>-->
<!--    </div>-->
<!-- End popup dialog box -->
    <div id='popup' style="width: 500px; height: 600px; display: none; background-color: white; padding: 20px; border-radius: 10px"></div>
</body>
</html>